* {
  padding: 0%;
  margin: 0%;
  text-decoration: none;
}


body {
  max-width: 1200px;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 320px));
  gap: 35px;
  justify-content: space-evenly;
  margin-left: 2%;
  margin-right: 2%;
}


h1 {
  text-align: right;
  margin-right: 2%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 3rem;
  margin-bottom: 3%;
  font-weight: 100;
}

/* Dokumentar serier */
.docu-series img {
  width: 100%;
  object-fit: cover;
  position: relative;
  grid-column: span 1/2;
  grid-row: span 1/2;
}

.div {
  display: grid;
  grid-template-columns: 1fr;
}

.docu-button-div {
  margin-inline: auto;
  grid-column: span 1/2;
  grid-row: span 1/2;
  z-index: 1;
  font-size: 1.2rem;
  color: black;
  margin-top: 11%;
  width: 60%;
  text-align: center;
}
/* Dokumentar miniserier */
.mini-docu-button-div {
  margin-inline: auto;
  grid-column: span 1/2;
  grid-row: span 1/2;
  z-index: 1;
  font-size: 1.2rem;
  color: black;
  margin-top: 11%;
  width: 60%;
  text-align: center;
}

/* Dokumentar film */
.docufilm-button-div {
  margin-inline: auto;
  grid-column: span 1/2;
  grid-row: span 1/2;
  z-index: 1;
  font-size: 1.2rem;
  color: black;
  margin-top: 11%;
  width: 60%;
  text-align: center;
}

/* Filmatisering serier */
.docufilma_serier-button-div {
  margin-inline: auto;
  grid-column: span 1/2;
  grid-row: span 1/2;
  z-index: 1;
  font-size: 1.2rem;
  color: black;
  margin-top: 11%;
  width: 60%;
  text-align: center;
}
/* Filmatisering film */
.docufilma_film-button-div {
  margin-inline: auto;
  grid-column: span 1/2;
  grid-row: span 1/2;
  z-index: 1;
  font-size: 1.2rem;
  color: black;
  margin-top: 11%;
  width: 60%;
  text-align: center;
}

/* Podcast*/
.podcast-button-div {
  margin-inline: auto;
  grid-column: span 1/2;
  grid-row: span 1/2;
  z-index: 1;
  font-size: 1.2rem;
  color: black;
  margin-top: 11%;
  width: 60%;
  text-align: center;
}

a:hover {
  scale: 101%;
  transition-duration: 0.2s;
  animation: ease-in-out;
}


@media (max-width: 800px) {

  h1 {
    text-align: center;
  }

}