* {
  padding: 0%;
  margin: 0%;
  text-decoration: none;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10rem 3rem 3rem 6rem;
  gap: 4rem;
}

/* Dokumentar serier */
.docu-series img {
  width: 100%;
  object-fit: cover;
  position: relative;
  grid-column: span 1/2;
  grid-row: span 1/2;
}

.div {
  display: grid;
  grid-template-columns: 1fr;
}

.docu-button-div {
  margin-inline: auto;
  margin: 3em 2em 0 5em;
  border: none;
  grid-column: span 1/2;
  grid-row: span 1/2;
  z-index: 1;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2vw;
  color: black;
}
/* Dokumentar miniserier */
.mini-docu-button-div {
  margin-inline: auto;
  margin: 3.1em 3em 0 6em;
  border: none;
  grid-column: span 1/2;
  grid-row: span 1/2;
  z-index: 1;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.12vw;
  color: black;
}

/* Dokumentar film */
.docufilm-button-div {
  margin-inline: auto;
  margin: 2.8em 2em 0 5em;
  border: none;
  grid-column: span 1/2;
  grid-row: span 1/2;
  z-index: 1;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2vw;
  color: black;
}

/* Filmatisering serier */
.docufilma_serier-button-div {
  margin-inline: auto;
  margin: 3.3em 2em 0 4.7em;
  border: none;
  grid-column: span 1/2;
  grid-row: span 1/2;
  z-index: 1;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1vw;
  color: black;
}
/* Filmatisering film */
.docufilma_film-button-div {
  margin-inline: auto;
  margin: 3.3em 2em 0 4.7em;
  border: none;
  grid-column: span 1/2;
  grid-row: span 1/2;
  z-index: 1;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1vw;
  color: black;
}

/* Podcast*/
.podcast-button-div {
  margin-inline: auto;
  margin-top: 3.8em;
  border: none;
  grid-column: span 1/2;
  grid-row: span 1/2;
  z-index: 1;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2vw;
  color: black;
}

a:hover {
  scale: 101%;
  transition-duration: 0.2s;
  animation: ease-in-out;
}
