* {
  padding: 0%;
  margin: 0%;
  text-decoration: none;
}
#category main {
  background-image: url(img/baggrund.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

#category section {
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 10rem 3rem 3rem 3rem;
  gap: 1rem;
}

.docu-series img {
  width: 100%;
  object-fit: cover;
  position: relative;
  grid-column: span 1/2;
  grid-row: span 1/2;
}

.div {
  display: grid;
  grid-template-columns: 1fr;
}

.docu-button-div {
  border-radius: 16px;
  margin-inline: auto;
  margin-top: 4em;
  border: none;
  grid-column: span 1/2;
  grid-row: span 1/2;
  z-index: 1;
  font-family: lato;
  font-size: 1.7vw;
  color: black;
}
