* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-image: url(img/truecrimebaggrund.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  main {
    max-width: 1200px;
    margin-inline: auto;
  }


  
  .breadcrums {
    color: white;
    margin-inline: auto;
  }

  
