
  h1 {
    text-align: right;
    margin-right: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 3rem;
    margin-bottom: 3%;
    font-weight: 100;
  }
  
  h2 {
    color: black;
    font-size: 2rem;
    margin-bottom: 3%;
  }
  
  p {
    color: black;
    font-size: 1rem;
    margin-bottom: 3%;
  }


.productlistgrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 320px));
    gap: 40px;
    justify-content: space-evenly;
    margin-bottom: 10%;
    margin-left: 2%;
    margin-right: 2%;
  }
  


  .smallProduct {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 15%;
    min-height: 418px;
}

article :last-child {
    margin-top: auto;
  }


  
  
  article {
    display: flex;
    flex-direction: column;
    background-image: url(img/file.png);
    background-size: cover;
  }

  article :last-child {
    margin-top: auto;
  }
  
  article img {
    width: 100%;
    margin-bottom: 4%;
    aspect-ratio: 20/14;
  }


  a {
    color: black;
    font-size: 1.3rem;
  }
  
  
  
  

 
